<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>List Some Users</title>
	<link rel="stylesheet" href="./assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/styles.css" rel="stylesheet">
</head>

<body>
	<!-- just a navbar with some styled text -->
	<section class = "navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class = "brand">Users</span>
			</div>
		</div>
	</section>


	<!-- MyApp inserts stuff in here -->
	<section id="app-container">

		<!-- region targeted by app code at the bottom of this file -->
		<div id="main-section" class="container">

			<p>Some basic content to be replaced on app load.</p>

		</div>

		<div id="sub-section">

			<p>A second region to swap content into.</p>

		</div>

	</section>


	<!-- Script imports in order of dependency -->
	<script src="./assets/js/vendor/jquery-1.12.2.js"></script>
	<script src="./assets/js/vendor/json2.js"></script>
	<script src="./assets/js/vendor/underscore.js"></script>
	<script src="./assets/js/vendor/bootstrap.js"></script>
	<script src="./assets/js/vendor/backbone.js"></script>
	<script src="./assets/js/vendor/backbone.marionette.js"></script>


	<!-- Basic Marionette app code -->
	<script type="text/javascript">
		
		// init marionette app
		var MyApp = new Marionette.Application();


		/**
 		 *	Data model and collection
 		 */

		/* start up a user model (object) */
		MyApp.User = Backbone.Model.extend({
			// some default data if desired
			defaults: {
					firstName: '',
					lastName: ''
			}
		});

		/* start up array of user models */
		MyApp.UsersCollection = Backbone.Collection.extend({
			// this is an array of objects (models) defined above
			model: MyApp.User,
			// define the field to sort by
			comparator: 'lastName'
		});


		/**
		 *	Data display
		 */

		/* list item for each username */
		MyApp.UserModelView = Marionette.ItemView.extend({
			// use getTemplate to select template with some logic
			getTemplate: function () {
				if (this.model.get("firstName")) {
					return _.template("<li class='userNames'><%- firstName %> <%- lastName%></li>");
				}
				return _.template("<li class='userNames'>no name found</li>");
			}
		});

		/* list around all list items */
		MyApp.UsersCollectionView = Marionette.CollectionView.extend({
			el: "#main-section",
			// tag for this parent view
			tagName: "ul",
			//className: "userName-list",
			// reference to li (otherwise error that you're missing a childView)
			childView: MyApp.UserModelView,
			getTemplate: function () {
				if ( $("li").length ) {
					// do not show this template
					return _.template("");
				} else {
					return this.template;
				}
			}
		});



		/**
		 *	Interaction views
		 */

		// button
		MyApp.ButtonClickerView = Marionette.ItemView.extend({
			template: _.template('<button id = "btn-clicker">Show / hide</button>'),
			// listen for click on button
			events: {
				"click #btn-clicker" : "TestFunc"
			},
			// handle button click
			TestFunc: function() {
				this.triggerMethod("show:userNames");
			}
		});


		/*
		 *	Start the app
		 */

		/* define regions before start event */
		MyApp.on ("before:start", function(){
			// create test array (collection) of user models
			var testUsers = new MyApp.UsersCollection([
				{
					firstName: "Mouse",
					lastName: "Inhouse"
				},
				{
					firstName: "Hayyund",
					lastName: "Enayyuntz"
				}
			]);

			var tempView;

			// create a REGION for handling multiple views
			var HandleRegions = Marionette.LayoutView.extend({
				el: "#app-container",
				regions: {
					main: "#main-section",
					sub: "#sub-section"
				},
				// triggered in ButtonClickerView
				childEvents: {
					"show:userNames": "showUserNames"
				},
				showUserNames: function(view) {
					if ( $("li").length ) {
						// destroy all userName list items
						$(".userNames").remove();
					} else {
						// instantiate collections view with data from above model
						tempView = new MyApp.UsersCollectionView({
							collection: testUsers
						});
						tempView.render();
					}
				}
			});

			// assign that region to the app's regions property
			MyApp.regions = new HandleRegions();
		});


		/* fill with data and render the view on start event */
		MyApp.on ("start", function() {

			// instantiate basic views
			var testButtonClicker = new MyApp.ButtonClickerView();

			// use regions (started in before:start event handler) to render views
			//MyApp.regions.main.show (testUsersView);
			MyApp.regions.main.empty();
			MyApp.regions.sub.show (testButtonClicker);
		});


		MyApp.start();

	</script>

</body>

</html>