<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>List Some Users</title>
	<link rel="stylesheet" href="./assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="./assets/css/styles.css" rel="stylesheet">
</head>

<body>
	<!-- just a navbar with some styled text -->
	<section class = "navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<span class = "brand">Users</span>
			</div>
		</div>
	</section>


	<!-- MyApp inserts stuff in here -->
	<section id="app-container">

		<!-- region targeted by app code at the bottom of this file -->
		<div id="main-region" class="container">

			<p>Some basic content to be replaced on app load.</p>

		</div>

	</section>


	<!-- Script imports in order of dependency -->
	<script src="./assets/js/vendor/jquery-1.12.2.js"></script>
	<script src="./assets/js/vendor/json2.js"></script>
	<script src="./assets/js/vendor/underscore.js"></script>
	<script src="./assets/js/vendor/bootstrap.js"></script>
	<script src="./assets/js/vendor/backbone.js"></script>
	<script src="./assets/js/vendor/backbone.marionette.js"></script>


	<!-- Basic Marionette app code -->
	<script type="text/javascript">
		
		// init marionette app
		var MyApp = new Marionette.Application();


		/**
 		 *	Data model and collection
 		 */

		/* start up a user model (object) */
		MyApp.User = Backbone.Model.extend({
			// some default data if desired
			defaults: {
					firstName: '',
					lastName: ''
			}
		});

		/* start up array of user models */
		MyApp.UsersCollection = Backbone.Collection.extend({
			// this is an array of objects (models) defined above
			model: MyApp.User,
			// define the field to sort by
			comparator: 'lastName'
		});


		/**
		 *	Data display
		 */

		/* list item for each username */
		MyApp.UserModelView = Marionette.ItemView.extend({
			// same result as pointing to "#model-list-item" template script tag above
			template: _.template("<li><%- firstName %> <%- lastName %></li>")
		});

		/* list around all list items */
		MyApp.UsersCollectionView = Marionette.CollectionView.extend({
			// tag for this parent view
			tagName: "ul",
			// reference to li (otherwise error that you're missing a childView)
			childView: MyApp.UserModelView
		})


		/*
		 *	Start the app
		 */

		/* define regions before start event */
		MyApp.on ("before:start", function(){
			// create a REGION for handling multiple views
			var HandleRegions = Marionette.LayoutView.extend({
				el: "#app-container",
				regions: {
					main: "#main-region"
				}
			});
			// assign that region to the app's regions property
			MyApp.regions = new HandleRegions();
		});

		/* fill with data and render the view on start event */
		MyApp.on ("start", function() {

			// create test array (collection) of user models
			var testUsers = new MyApp.UsersCollection([
				{
					firstName: "Mouse",
					lastName: "Inhouse"
				},
				{
					firstName: "Hayyund",
					lastName: "Enayyuntz"
				}
			]);
			
			// instantiate collections view for test model above
			var testUsersView = new MyApp.UsersCollectionView({
				collection: testUsers
			});

			// use regions (started in before:start event handler) to render multiple views
			MyApp.regions.main.show (testUsersView);

		});

		MyApp.start();

	</script>

</body>

</html>